<div class="ui grid computer only container segment">
  <div class="ui two column stackable center aligned grid">
    <div class="ui vertical divider">Or</div>
    <div class="middle aligned row">
      <div class="eight wide column">
        <div class="ui icon header">
          <i class="search icon unraid-icon-logo"></i>
          Search Movies
        </div>
        <div class="field">
          <div class="ui search">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="Search movies...">
              <i class="search icon unraid-icon-logo"></i>
            </div>
            <div class="results"></div>
          </div>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui icon header">
          <i class="film icon unraid-icon-logo"></i>
          Request Movies
        </div>
        <div class="row">
          <div class="ui button unraid-button-color">
            Request
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-movies-list></app-movies-list>