<div class="ui grid computer only container segment">
    <div class="ui two column stackable center aligned grid">
      <div class="ui vertical divider">Or</div>
        <div class="middle aligned row">
          <div class="eight wide column">
            <div class="ui icon header">
              <i class="search icon unraid-icon-logo"></i>
              Search Movies
            </div>
            <div class="field">
              <div class="ui search">
                <div class="ui icon input">
                  <input class="prompt" type="text" placeholder="Search movies..." [(ngModel)]="searchedKeyword">
                  <i class="search icon unraid-icon-logo"></i>
                </div>
                <div class="results"></div>
              </div>
            </div>
          </div>
          <div class="eight wide column">
            <div class="ui icon header">
              <i class="film icon unraid-icon-logo"></i>
              Request Movies
            </div>
            <div class="row">
              <div class="ui button unraid-button-color">
                Request
              </div>
            </div>
          </div>
        </div>
    </div>
</div>


<div class="ui centered mobile only grid">
  <div class="ui icon input">
    <input type="text" placeholder="Search movies..." [(ngModel)]="searchedKeyword">
    <i class="search icon unraid-mobile"></i>
  </div>
</div>

<div class="ui tablet computer only grid">
  <div class="row">
    <div class="two wide column vertical nav">
      <div class="ui vertical menu">
        <a class="ui dropdown item" style="padding-bottom: 20px;">
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="header">
              <i class="sort icon"></i>
              Sort By
            </div>
              <a class="item">
                <div class="ui red empty circular label"></div>
                Title
              </a>
              <a class="item">
                <div class="ui blue empty circular label"></div>
                Release Year
              </a>
              <a class="item">
                <div class="ui purple empty circular label"></div>
                Upload Date
              </a>
              <a class="item">
                <div class="ui orange empty circular label"></div>
                Rating
              </a>
              <a class="item">
                <div class="ui yellow empty circular label"></div>
                Runtime
              </a>
          </div>
          Sort
        </a>
        <a class="ui dropdown item" style="padding-bottom: 20px;">
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="header">
              <i class="tags icon"></i>
              Filter By
            </div>
            <div class="item">
              <div class="ui red empty circular label"></div>
              Audio
            </div>
            <div class="item">
              <div class="ui blue empty circular label"></div>
              Resolution
            </div>
            <div class="item">
              <div class="ui purple empty circular label"></div>
              Rating
            </div>
            <div class="item">
              <div class="ui orange empty circular label"></div>
              Genre
            </div>
            <div class="item">
              <div class="ui yellow empty circular label"></div>
              Occasion
            </div>
          </div>
          Filter
        </a>
        <a class="item" style="padding-bottom: 20px;">
          Recommended
          <a class="ui red right corner label">
            <i class="star icon"></i>
          </a>
        </a>
      </div>
    </div>
    <div class="seven wide centered column">
      <ng-container *ngIf="containUpcomingMovieArray">
        <div class="ui divided items">
          <div class="ui padded stackable grid">
            <div *ngFor="let i of containUpcomingMovieArray | filter:searchedKeyword">
              <div class="item">
                <div class="ui floated small rounded image">
                    <img [src]="i.coverImage">
                </div>
                <div class="content ui">
                  <a class="header">{{i.title}}</a><br><br>
                  <div class="description">
                      <p>{{i.description}}</p>
                  </div><br>
                  <div class="extra">
                    <div class="ui label">{{i.movieRating}}</div>
                    <div class="ui label">{{i.genre}}</div>
                    <div class="ui label">{{i.distributedBy}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="ui mobile only grid">
    <div class="sixteen wide column">
      <ng-container *ngIf="containUpcomingMovieArray">
        <div class="ui divided items">
          <div class="ui padded stackable grid">
            <div *ngFor="let i of containUpcomingMovieArray | filter:searchedKeyword">
              <div class="item">
                <div class="ui floated small rounded image">
                    <img [src]="i.coverImage">
                </div>
                <div class="content ui">
                  <a class="header">{{i.title}}</a><br><br>
                  <div class="description">
                      <p>{{i.description}}</p>
                  </div><br>
                  <div class="extra">
                    <div class="ui label">{{i.movieRating}}</div>
                    <div class="ui label">{{i.genre}}</div>
                    <div class="ui label">{{i.distributedBy}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
</div>